html {
	background-color: black;
	color: white;
	font-family: sans-serif;
	font-size: 16px;
}

body {
	width: 600px;
	margin: 0 auto;
	padding-top: 250px;
}

::selection {
	background: rgba(255, 255, 255, 0.99); /* WebKit/Blink Browsers */
	color: black;
}

::-moz-selection {
	background: rgba(255, 255, 255, 0.99); /* Gecko Browsers */
	color: black;
}

table {
	font-size: 16px;
	th {
		text-align: left;
	}
	th, td {
		padding-right: 15px;
	}
}

form {
	overflow: hidden;
	fieldset {
		padding: 0;
		margin: 0;
		border: 0;
	}
	label {
		margin-right: 25px;
		line-height: 35px;
	}
	input[type="text"] {
		width: 400px;
		height: 30px;
		text-align: left;
		padding: 0 10px;
		border: 0;
		font-size: 14px;
		margin-right: 25px;
	}
}

.button {
	width: 160px;
	height: 30px;
	text-align: center;
	border: 0;
	font-size: 14px;
	background-color: white;
}

a.button {
	color: black;
	text-decoration: none;
	display: block;
	line-height: 30px;
	margin: 20px 0;
}

.messages {

}

.blogs {
	margin: 30px 0;
}

h1 {
	font-size: 30px;
}

.explanation {
	margin-bottom: 50px;
	span {
		display: block;
		margin-bottom: 5px;
		&.title {
			font-weight: bold;
		}
	}
}